# Kconfig

mainmenu "Docker Runner Configuration Menu"

config HAVE_DOT_CONFIG
    bool
    default y

config NAME
    string "Container name"
    default "mycontainer"
    help
      The name of the container.

menu "Distribution Options"
    choice
        prompt "Base distribution"
        default DISTRO_archlinux
        config DISTRO_archlinux
            bool "Arch Linux"
            select PM_pacman
        config DISTRO_debian
            bool "Debian"
            select PM_apt
        config DISTRO_ubuntu
            bool "Ubuntu"
            select PM_apt
    endchoice

    config DISTRO
        string
        default "archlinux" if DISTRO_archlinux
        default "debian" if DISTRO_debian
        default "ubuntu" if DISTRO_ubuntu
        default "none"

    choice
        prompt "Base image"
        default IMAGE_archlinux
        config IMAGE_archlinux
            bool "archlinux"
            depends on DISTRO_archlinux
        config IMAGE_debian
            bool "debian"
            depends on DISTRO_debian
        config IMAGE_ubuntu
            bool "ubuntu"
            depends on DISTRO_ubuntu
    endchoice

    config IMAGE
        string
        default "archlinux" if DISTRO_archlinux
        default "debian" if DISTRO_debian
        default "ubuntu" if DISTRO_ubuntu
        default "none"

    choice
        prompt "Base image tag"
        default TAG_base
        config TAG_base
            bool "base"
            depends on IMAGE_archlinux
        config TAG_base_devel
            bool "base-devel"
            depends on IMAGE_archlinux
        config TAG_multilib_devel
            bool "multilib-devel"
            depends on IMAGE_archlinux
        config TAG_bookworm
            bool "12 bookworm"
            depends on IMAGE_debian
        config TAG_bullseye
            bool "11 bullseye"
            depends on IMAGE_debian
        config TAG_sid
            bool "sid"
            depends on IMAGE_debian
        config TAG_focal
            bool "20.04 focal"
            depends on IMAGE_ubuntu
        config TAG_jammy
            bool "22.04 jammy"
            depends on IMAGE_ubuntu
        config TAG_noble
            bool "24.04 noble"
            depends on IMAGE_ubuntu
    endchoice

    config TAG
        string
        default "base" if TAG_base
        default "base-devel" if TAG_base_devel
        default "multilib-devel" if TAG_multilib_devel
        default "latest"

    config PM_pacman
        bool "Use pacman as package manager"
        default y
        depends on DISTRO_archlinux
        help
            Use pacman package manager for Arch Linux.

    config PM_apt
        bool "Use apt as package manager"
        default y
        depends on DISTRO_debian || DISTRO_ubuntu
        help
            Use apt package manager for Debian or Ubuntu.

    config PM
        string
        default "pacman" if PM_pacman
        default "apt" if PM_apt
        default "none"

    config PM_INSTALL
        string 
        default "pacman -Syu --noconfirm --overwrite '*'" if PM_pacman
        default "apt update && apt upgrade -y" if PM_apt
        default "echo"
endmenu

menu "Docker Options"
    config RUN_OPTS
        string "Options for docker run"
        default "-itd"
        help
            Options for docker run command.
    
    config EXEC_FG_OPTS
        string "Options for foreground docker exec"
        default "-it"
        help
            Options for foreground docker exec command.

    config EXEC_BG_OPTS
        string "Options for background docker exec"
        default "-d"
        help
            Options for background docker exec command.

    choice NETWORK_DRIVER
        prompt "Network driver"
        default NETWORK_bridge
        config NETWORK_bridge
            bool "bridge"
        config NETWORK_host
            bool "host"
        config NETWORK_none
            bool "none"
    endchoice  

    config NETWORK_OPTS
        string
        default "--network=host" if NETWORK_host
        default "--network=bridge" if NETWORK_bridge
        default "" if NETWORK_none
endmenu
